html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

// ul[class],
// ol[class] {
//   padding: 0;
// }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

// ul[class] ,ol[class] {
//   list-style: none;
// }
img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;

  color: inherit;
  font-style: inherit;
  font-family: inherit;
  line-height: inherit;
}
article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section{
  display: block;
 }
 table{
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
 }
 textarea{
  resize: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a, button, input[type="submit"]{
  cursor: pointer;
}