
$default: white;
$black: #000000;
$main-regulur:#323264;
$main-alt:#46466E;
$main-soft:#686887;
$accent: #F0145A;
$active-regulur: #24A3FF;
$active-hover: #0085FF;
$active-focuse: #006CCF;
$grey-bg:#F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text:#B3B3BA;
$gradient:linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft:linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
$gradient-super-soft:linear-gradient(228.57deg, #323264 11.93%, #323264 67.17%, #643E72 100.46%);
$gradient-red-text:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);