<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="../../css/style.min.css">
    <title>Document</title>
</head>
<body>
    
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="flex">
            <svg class="logo" width="77" height="31">
                <use href="../images/sprite.svg#logo"/>
            </svg>
            <ul class="header__language">
                <li class="header__language-item"><span>УК</span></li>
                <li class="header__language-item"><span>РУ</span></li>
                <li class="header__language-item"><span>EN</span></li>
            </ul>
        </div>
            <nav class="header__nav">
                <ul class="header__nav-items">
                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">про нас</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">послуги</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">команда</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">публікації</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">контакти</a>
                    </li>
                </ul>
            </nav>
            <div class="flex">
                <a class="header__tel" href="tel:+38 050 390 15 95">+38 (050) 390 15 95</a>
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>